<footer class="footer">
    <!-- Inner Wrapper max 1280px -->
    <div class="wrapper">
        
        <div class="footer__links">
            <a href="/">Home</a>
            <a href="/terms-of-service">Terms</a>
            <a href="/privacy-policy">Privacy</a>
            <a href="/disclaimer">Disclaimer</a>
        </div>

        <div class="footer__copyright">&copy; 2019 The Development Guide For Beginners</div>
    </div>
</footer>