{% extends "base.twig" %}

{% block content %}
	<div class="hp-grid__wrapper wrapper">
		<!-- Featured Content -->
		{% include 'featured-articles.twig' %}
		<!-- Recent Posts -->
		{% include 'recent-articles.twig' %}
	</div>
{% endblock %}
